.productLogo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.productLogo:hover {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-bottom: solid #D01012 10px;
    filter: brightness(92%);
}

#productname {
    font-size: x-large;
    color: white;
    margin-top: 10px;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productFeatures {
    margin: 10px 0 0 20px;
    width: max-content;
}
#achatButton {
    background-color: #CDB247;
    border: none;
    height: 30px;
    width: 50px;
    margin-top: 5px;
    border: solid black 1px;
    cursor: pointer;
    font-size: medium;
}
#coutProduit, #revenuProduit, #nbProduit {
    margin-left: 10px;
}
#achatButton:hover {
    filter: brightness(85%);
}
.progressbar {
    margin-top: 10px;
}