<div class="product">
    <span>
        <img class='productLogo' (click)=startFabrication() [attr.src]="server+product.logo" />
    </span>
    <span class="productFeatures">
        <span id="productname"> {{product.name}} </span>
        <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
        <div [ngSwitch]="_qtmulti">
            <button *ngSwitchCase="'x1'" [disabled]="click" id="achatButton" (click) = "onBuy()">x1</button>
            <button *ngSwitchCase="'x10'" [disabled]="click" id="achatButton" (click) = "onBuy()">x10</button>
            <button *ngSwitchCase="'x100'" [disabled]="click" id="achatButton" (click) = "onBuy()">x100</button>
            <button *ngSwitchCase="'MAX'" [disabled]="click" id="achatButton" (click) = "onBuy()">x{{qtAchat}}</button>
            <span *ngSwitchCase="'x1'" id="coutProduit"> Coût : {{coutProduit|number}}</span>
            <span *ngSwitchCase="'x10'" id="coutProduit"> Coût : {{coutProduit|number}}</span>
            <span *ngSwitchCase="'x100'" id="coutProduit"> Coût : {{coutProduit|number}}</span>
            <span *ngSwitchCase="'MAX'" id="coutProduit"> Coût : {{coutProduit|number}}</span>
        </div>
        <span id="nbProduit">Nombres de produits achetés : {{product.quantite}} </span>
    </span>
</div>