<div class="header">
    <div>
        <span>
            <img class="worldLogo" [attr.src]="server+world.logo" />
        </span>
    </div>
    <div class="money">
        Argent :
        <span [innerHTML]="world.money | bigvalue"></span>
        <img class="moneyLogo" src="http://localhost:8080/icones/goldenCoin.png">
    </div>
    <div class="multiplier">
        Multiplicateur :
        <button id="multiButton" (click) = "cycle()"> {{qtmulti}} </button>
    </div>
    <div class="id"> 
        ID du joueur :
        <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
    </div>
</div>

<div class="main">
    <div class="menu"> 
        <p class="menuTitle">Menu</p>
        <button class="managersButton" mat-raised-button color="primary" [matBadge]="badgeManagers" 
        [matBadgeHidden]="badgeManagers==0" (click)="showManagers = !showManagers">Managers</button>
    </div>
    <div class="products">
        <div class="product col-md-6">
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[0]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6">
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[1]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[2]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[3]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[4]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[5]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
    </div>
</div>

<div *ngIf="showManagers" class="modal">
    <div>
        <h1 class="title">Star Wars world managers</h1>
    </div>
    <div>
        <div *ngFor="let manager of world.managers.pallier">
            <div *ngIf="!manager.unlocked" class="managersLayout">
                <div>
                    <div class="managersLogo"><img class="round" [attr.src]="server+manager.logo" /> </div>
                </div>
                <div class="managersAttributes">
                    <div class="managerName"> {{ manager.name}} </div>
                    <div class="managerCible"> {{ world.products.product[manager.idcible-1].name }} </div>
                    <div class="managerCost"> {{ manager.seuil}} </div>
                </div>
                <button class="hireButton" (click)="hireManager(manager)" [disabled]="manager.seuil > world.money || world.products.product[manager.idcible-1].quantite == 0"
                    [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</button>
            </div>
        </div>
        <button class="closeButton" mat-raised-button color="primary"
            (click)="showManagers = !showManagers">Close</button>
    </div>
</div>