<div class="header">
    <div>
        <span>
            <img class="worldLogo" [attr.src]="server+world.logo" />
        </span>
    </div>
    <div class="money">
        Argent :
        <span [innerHTML]="world.money | bigvalue"></span>
        <img class="moneyLogo" src="http://localhost:8080/icones/goldenCoin.png">
    </div>
    <div class="multiplier">
        Multiplicateur :
        <button id="multiButton" (click) = "cycle()"> {{qtmulti}} </button>
    </div>
    <div class="id"> 
        ID du joueur :
        <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
    </div>
</div>

<div class="main">
    <div class="menu"> 
        <p class="menuTitle">Menu</p>
        <button class="unlocksButton" mat-raised-button color="primary" [matBadge]="badges[0]" 
        [matBadgeHidden]="badges[0]==0" (click)="showMenu(0)" (click)="setNextUnlocks()">Unlocks</button>
        <button class="cashUpgradesButton" mat-raised-button color="primary" [matBadge]="badges[1]" 
        [matBadgeHidden]="badges[1]==0" (click)="showMenu(1)">Cash upgrades</button>
        <button class="angelsButton" mat-raised-button color="primary" [matBadge]="badges[2]" 
        [matBadgeHidden]="badges[2]==0" (click)="showMenu(2)">Angel upgrades</button>
        <button class="managersButton" mat-raised-button color="primary" [matBadge]="badges[3]" 
        [matBadgeHidden]="badges[3]==0" (click)="showMenu(3)">Managers</button>
        <button class="investorsButton" mat-raised-button color="primary" [matBadge]="badges[4]" 
        [matBadgeHidden]="badges[4]==0" (click)="showMenu(4)">Investors</button>
    </div>
    <div class="products">
        <div class="product col-md-6">
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[0]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6">
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[1]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[2]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[3]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[4]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
        <div class="product col-md-6"> 
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="world.products.product[5]"
                (notifyProduction)="onProductionDone($event)" (notifyAchat)="onAchatDone($event)"></app-product>
        </div>
    </div>
</div>

<div *ngIf="menuIndexes[0]" class="modal">
    <div>
        <h1 class="title">Star Wars world unlocks</h1>
    </div>
    <div class="unlocksLayout">
        <div *ngFor="let unlock of this.nextUnlocks">
            <div class="unlockLayout col-md-6">
                <div>
                    <div class="unlocksLogo"><img class="round" [attr.src]="server+unlock.logo" /> </div>
                </div>
                <div class="unlocksAttributes">
                    <div class="unlockName"> {{unlock.name}} </div>
                    <div class="unlockCost"> {{unlock.seuil}} </div>
                    <div class="unlockCible">{{world.products.product[unlock.idcible-1].name}} {{unlock.typeratio}} x{{unlock.ratio}}</div>
                    
                </div>
            </div>
        </div>
    </div>
    <button class="closeButton" mat-raised-button color="primary"
            (click)="showMenu(0)">Close</button>
</div>

<div *ngIf="menuIndexes[1]" class="modal">
    <div>
        <h1 class="title">Star Wars world cash upgrades</h1>
    </div>
    <div class="cashUpgradesLayout">
        <div *ngFor="let cashUpgrade of world.upgrades.pallier">
            <div *ngIf="!cashUpgrade.unlocked" class="cashUpgradeLayout col-md-6">
                <div>
                    <div class="cashUpgradesLogo"><img class="round" [attr.src]="server+cashUpgrade.logo" /> </div>
                </div>
                <div class="cashUpgradesAttributes">
                    <div class="cashUpgradeName"> {{cashUpgrade.name}} </div>
                    <div class="cashUpgradeCible">{{world.products.product[cashUpgrade.idcible-1].name}}</div>
                    <div class="cashUpgradeCost"> {{cashUpgrade.seuil}} </div>
                </div>
                <button class="buyCashUpgradeButton" (click)="buyCashUpgrade(cashUpgrade)" [disabled]="cashUpgrade.seuil > world.money"
                    [ngClass]="{'selectable' : (world.money >= cashUpgrade.seuil)}">Buy !</button>
            </div>
        </div>
    </div>
    <button class="closeButton" mat-raised-button color="primary"
            (click)="showMenu(0)">Close</button>
</div>

<div *ngIf="menuIndexes[2]" class="modal">
    <div>
        <h1 class="title">Star Wars world angels</h1>
    </div>
    <div class="angelsLayout">
        <div *ngFor="let angel of world.angelupgrades.pallier">
            <div *ngIf="!angel.unlocked" class="angelLayout col-md-6">
                <div>
                    <div class="angelsLogo"><img class="round" [attr.src]="server+angel.logo" /> </div>
                </div>
                <div class="angelsAttributes">
                    <div class="angelName"> {{angel.name}} </div>
                    <div class="angelCible">All products</div>
                    <div class="angelCost"> {{angel.seuil}} </div>
                </div>
                <button class="buyAngelButton" (click)="buyAngel(angel)" [disabled]="angel.seuil > world.money"
                    [ngClass]="{'selectable' : (world.money >= angel.seuil)}">Buy !</button>
            </div>
        </div>
    </div>
    <button class="closeButton" mat-raised-button color="primary"
            (click)="showMenu(2)">Close</button>
</div>

<div *ngIf="menuIndexes[3]" class="modal">
    <div>
        <h1 class="title">Star Wars world managers</h1>
    </div>
    <div class="managersLayout">
        <div *ngFor="let manager of world.managers.pallier">
            <div class="managerLayout col-md-6">
                <div>
                    <div class="managersLogo"><img class="round" [attr.src]="server+manager.logo" /> </div>
                </div>
                <div class="managersAttributes">
                    <div class="managerName"> {{ manager.name}} </div>
                    <div class="managerCible"> {{world.products.product[manager.idcible-1].name}} </div>
                    <div class="managerCost"> {{ manager.seuil}} </div>
                </div>
                <button *ngIf="!manager.unlocked" class="hireButton" (click)="hireManager(manager)" [disabled]="manager.seuil > world.money || world.products.product[manager.idcible-1].quantite == 0"
                    [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</button>
                <div *ngIf="manager.unlocked" class="hiredSign">Hired !</div>
            </div>
        </div>
    </div>
    <button class="closeButton" mat-raised-button color="primary"
            (click)="showMenu(3)">Close</button>
</div>