.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    margin: 1.9% 0 1.6% 1.8%;
}
.main {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: 1.8%;
}
.menu {
    background-color: #D01012;
    height: fit-content;
    width: fit-content;
    box-shadow: 0 7px 5px #00467D;
    border: solid black 1px;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D01012;
    height: 100px;
    width: 400px;
    box-shadow: 0 7px 5px #00467D;
    border: solid black 1px;
    margin-bottom: 4.5%;
}
.modal { 
    position: fixed; /* reste en place */ 
    z-index: 2; /* au dessus du reste */ 
    width: fit-content; /* largeur */ 
    height: fit-content; /* hauteur */ 
    overflow: auto; /* barre de scroll si besoin */ 
    border: solid black 1px; 
    top:10%; /* a 10% du haut */ 
    left:20%; /* a 20% de la gauche */ 
    padding: 30px;
    background-color: #D01012;
    font-size: large;
    color: white;
    box-shadow: 7px 7px 5px #00467D;
}
.round { 
    width: 100px; 
    height: 100px; 
    border-radius: 50% 
}
.lesdeux { 
    position: relative; 
}
.lesecond { 
    position: absolute; 
    /* On met cet élément à 10 pixels du bas de son conteneur
    du coup il se superpose à l’autre qui est dans le flux normal */
    bottom: -10px; 
}
.worldLogo {
    height: 100px;
    width: 300px;
}
header {
    display: flex;
}
/* Managers */
.managersLayout {
    display: flex;
    width: 400px;
    margin-top: 10px;
}
.managersAttributes {
    margin: auto;
}
.managerName, .managerCible, .managerCost {
    margin: 0 auto 0 auto;
    width: fit-content;
}
.hireButton {
    margin: auto 0 auto 0;
    padding: 5px;
    cursor: default;
    background-color: #0153F7;
    box-shadow: 2px 2px 5px black;
}
.closeButton {
    cursor: pointer;
    margin: 10px 0 0 22px;
    padding: 5px;
    background-color: #0153F7;
    color: white;
    font-size: medium;
    border: none;
    box-shadow: 2px 2px 5px black;
}
/* Menu */
.managersButton {
    cursor: pointer;
}
.selectable {
    cursor: pointer;
}